.container {
 
  background: linear-gradient(132deg,#588d2f,#1606457f,#4f8e73,#59775f);
  background-size: 300% 300%;
   animation: color 5s ease-in-out infinite;
 }
 
 @keyframes color {
   0% {
     background-position: 0 200%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0 200%;
   }
 }
  
 body {
  
  
  
  background-color: #222;
}



 .glow{
  font-size:3rem;
  color:rgb(5, 5, 5);
  animation-name:glow;
  animation-duration:0.85s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  position: relative;
  text-align: center;
}

@keyframes glow{
  from{text-shadow:0px 0px 5px #7300ff,0px 0px 5px #d3d1db;}
  to{text-shadow:0px 0px 20px #ff0000,0px 0px 20px #614ad3;}
}

button{
  background-color:transparent;
  border-radius: 10px;
    
}
button:hover{
  color: rgb(0, 255, 0);
  background-color: black;
  border-radius: 2px;
}

.container1 {
  background-color: #33333379;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
  text-align: center;
}

.profile{
  
  height: auto ;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius:18%;
  box-shadow: -3px 4px transparent; 
  width: 190px;
  margin-top: auto;
}


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

 

 
 .card::before {   
    content: "";
   width: 220px;
   height: 220px;
   border-radius: 40px;
   background-image: linear-gradient(var(--rotate), #5dff86, #603ce3 43%, #c20098);
   position: absolute;
   z-index: -2;
   animation: spin 1s linear infinite;
   margin-left: -111px;
   margin-top: -12px;
 }
 @keyframes spin {
   0% {
       --rotate: 0deg;
   }
 
   100% {
       --rotate: 360deg;
   }
 }
 
 
 .card2::before {   
  content: "";
  width: 220px;
  height: 300px;
  border-radius: 40px;
  background-image: linear-gradient(var(--rotate), #0cb770, #18e1af , #dbea54);
  position: absolute;
  z-index: -1;
  margin-left: -110px;
  margin-top: -15px;
  animation: spin 1s linear infinite;
 }

 .card3::before {  
  content: "";
width: 220px;
height: 240px;
border-radius: 40px;
background-image: linear-gradient(var(--rotate), #00aeff, #d7d6e1 , #0088ff);
position: absolute;
z-index: -1;
margin-left: -110px;
margin-top: -12px;
animation: spin 1s linear infinite;
}



 
 .card4::before {   
  content: "";
  width: 220px;
  height: 220px;
  border-radius: 40px;
  background-image: linear-gradient(var(--rotate), #f3f3f3, #dfdee3 43%, #f5dd04);
  position: absolute;
  z-index: -1;
  margin-left: -110px;
  margin-top: -12px;
  animation: spin 1s linear infinite;
 }