
.bg {
  animation:slide 3s ease-in infinite alternate-reverse;
  background-image: linear-gradient(-60deg, rgb(20, 22, 19) 50%, rgba(0, 0, 1, 0.956) 20%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:8s;
}





@keyframes slide {
  0% {
    transform:translateX(-15%);
  }
  50% {
    transform:translateX(55%);
  }
  75% {
    transform:translateX(-55%);
  }

  100% {
    transform:translateX(25%);
  }
}

  p{
    background-color: rgba(40, 39, 44, 0.285);
     text-align: center;
     font-size: 2rem;
         font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    font-family:cursive;
    border-radius: 10px;
   
   
   box-shadow: 5px 5px rgb(16, 99, 16);
 }
 
.b1{
    margin-left:auto;
    margin-right: auto;
    color: rgb(19, 20, 20);
    background-color: rgba(25, 235, 106, 0.866);
    font-size: 35px;
    border-radius: 10px;
    
    opacity: 1;
    box-shadow: 7px 7px;
  

}
.b2{
    margin-left:auto;
    margin-right: auto;
    margin-top: 45px;
    color: rgb(0, 255, 13);
    background-color:rgba(23, 24, 23, 0.881);
    font-size: 35px;
    border-radius: 10px;
    box-shadow: 7px 7px black;
    
}
.b3{
    margin-left:auto;
    margin-right: auto;
    color: rgb(16, 17, 17);
    background-color: rgba(238, 102, 10, 0.768);
    font-size: 35px;
    border-radius: 10px;
    margin-top: 45px;
    box-shadow: 7px 7px;
}
.b4{
    margin-left:auto;
    margin-right: auto;
    color: rgb(14, 14, 14);
    background-color:rgba(199, 168, 16, 0.592);
    margin-top: 45px;
    font-size: 35px;
    border-radius: 10px;
    box-shadow: 7px 7px;
}
.b5{
    margin-left:auto;
    margin-right: auto;
    color: rgb(19, 20, 20);
    background-color: rgba(0, 255, 255, 0.229);
    font-size: 35px;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: 7px 7px;
}

.b6{
    margin-left:auto;
    margin-right: auto;
    color: rgba(7, 6, 36, 0.96);
    background-color: rgba(15, 227, 227, 0.071);
    font-size: 35px;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: 7px 7px;


}
button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
