body{
    background-color: rgb(241, 234, 234);

}

img{
border-style: solid;
height: 212px;
width: 213px;
box-shadow: 1px 1px;
border-radius: 18px;
display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
    color: rgb(16, 180, 98);
    font-size: 54px;
    background-color: rgba(22, 20, 20, 0.701);
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: auto;
}

.bg {
    animation:slide 3s ease-in infinite alternate-reverse;
    background-image: linear-gradient(-60deg, rgb(20, 22, 19) 50%, rgba(0, 0, 1, 0.956) 20%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }
  
  
  
  
  
  @keyframes slide {
    0% {
      transform:translateX(-15%);
    }
    50% {
      transform:translateX(55%);
    }
    75% {
      transform:translateX(-55%);
    }

    100% {
      transform:translateX(25%);
    }
  }


  .year1{
   
    background-color: rgb(0, 0, 0);
    height: 136px;
    width: 220px;
   max-width: 220px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}


.year01{

  
  
     color: rgb(255, 255, 255);
     height: 136px;
     width: 124px;
     
     margin-left: auto;
     margin-right: auto;
     margin-top:-96px;
     font-size: 26px;
     font-family:cursive;
     border-radius: 10px;
    margin-bottom: auto;
 }

.w{
    
color: rgb(26, 255, 0);
  height: 38px;
 width: 220px;
 background-color: rgb(0, 0, 0);

 font-size: 26px;
 font-family:cursive;
 border-radius: 10px;
 letter-spacing: 5px;
 


box-shadow: 5px 5px rgb(204, 214, 204);
}

.e{
    
  color: rgb(26, 255, 0);
    height: 38px;
   width: 220px;
   background-color: rgb(0, 0, 0);
   font-size: 26px;
   font-family:cursive;
   border-radius: 10px;
   letter-spacing: 5px;
  box-shadow: 5px 5px rgb(204, 214, 204);
  margin-top: 10px;
  }

  .year02{

  
  
    color: rgb(255, 255, 255);
    height: 136px;
    width: 150px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top:-96px;
    font-size: 26px;
    font-family:cursive;
    border-radius: 10px;
   margin-bottom: auto;
}

.year03{

  
  
  color: rgb(255, 255, 255);
  height: 136px;
  width: 178px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top:-96px;
  font-size: 26px;
  font-family:cursive;
  border-radius: 10px;
 margin-bottom: auto;
}

.l{
  margin-left:auto;
  margin-right: auto;
  color: rgba(231, 231, 239, 0.96);
  background-color: rgba(9, 9, 9, 0.919);
  font-size: 35px;
  margin-top: 45px;
  border-radius: 10px;


}