
body{
    background-color: #000000;
  }    
    #chatbox {
  height: 350px;
  width: 250px;
  border: 1px solid #000000;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  overflow:auto;
}

.message {
  background-color: #0ee941;
  padding: 10px;
  margin-bottom: 10px;
}

.message.sent {
  background-color: #000000;
  text-align: right;
  color: #0ee941;
}

.message.received {
  background-color: #000000;
  text-align: left;
  color: rgb(0, 255, 238);
}

.glow{
    font-size:3rem;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: 'Merienda', cursive;
    animation-name:glow;
    animation-duration:0.85s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    
  
    position: relative;
  }
  
  @keyframes glow{
    from{text-shadow:0px 0px 5px #fff,0px 0px 5px #2b00ff;}
    to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
  }

  .b1{
    height: auto;
    width: 250px;
    color: rgb(0, 255, 34);
    font-size: large;
    border-radius: 10px;
    border-color: rgb(0, 123, 255);
    border-style:inset;
    border-width: 250px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    animation-name: b;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    margin-top: 10px;
    display: flex;
}
@keyframes b {
    from {border-width: medium ;background:#000000f3;}
    to {border-width: medium ;background:#5b21c6f1;}

    
}

.b2{
    display: flex;
    margin-right: auto;
    margin-left: 200px;
    margin-top: 30px;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 10px;
    height:auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    position:relative;
    
}

.b2:hover{
    background-color: greenyellow;
    border-radius: 100px;
}
.b3{
    display: flex;
    margin-right: 200px;
    margin-left: auto;
    margin-top: -35px;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 10px;
    height:auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    position:relative;
    color: #0ee941;
    background-color: #d30000;
    
}

.b3:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}
